<div class="container">
    <h1>Zarządzaj kontem</h1>
    <form>
        <input type="text" placeholder="Imie" [(ngModel)]="user.name">
        <input type="text" placeholder="Nazwisko" [(ngModel)]="user.surname">
        <input type="text" placeholder="Email" [(ngModel)]="user.email">
        <input type="text" placeholder="Data urodzin" [(ngModel)]="user.dateofbirth">
        <input type="text" placeholder="Numer telefonu" [(ngModel)]="user.phonenumber">
        <input type="text" placeholder="Ulica" [(ngModel)]="user.street">
        <input type="text" placeholder="Kod pocztowy" [(ngModel)]="user.postcode">
        <input type="text" placeholder="Miasto" [(ngModel)]="user.city">
    </form>
    <button (click)="save()">
        Zapisz
    </button>
</div>