    <div class="container">
        <h1>Utwórz konto</h1>
        <p>Utwórz konto by móc korzystać z naszej szerokiej oferty</p>
        <form>
            <input type="text" placeholder="Imie" [(ngModel)]="user.name">
            <input type="text" placeholder="Nazwisko" [(ngModel)]="user.surname">
            <input type="text" placeholder="Login" [(ngModel)]="user.login">
            <input type="text" placeholder="Haslo" [(ngModel)]="user.password">
            <input type="text" placeholder="Enail" [(ngModel)]="user.email">
            <input type="text" placeholder="Data urodzin" [(ngModel)]="user.dateofbirth">
            <input type="number" placeholder="Numer telefonu" [(ngModel)]="user.phonenumber">
            <input type="text" placeholder="Ulica" [(ngModel)]="user.street">
            <input type="text" placeholder="Kod pocztowy" [(ngModel)]="user.postcode">
            <input type="text" placeholder="Miasto" [(ngModel)]="user.city">
            <button type="submit">Utwórz konto</button>
        </form>
        <div class="login-link">
            <p class="inline-element">Nie posiadasz konta?</p><a class="inline-element" [routerLink]="['/login']">Zaloguj sie</a>
        </div>
    </div>

