<div class="container">
    <h1>Czujesz głód?</h1>
    <p>Jesteśmy tu by go zaspokoić! Zaloguj się i przeglądaj najpopularniejsze oferty z jedzeniem w Twojej okolicy</p>
    <div class="form">
        <input type="text" [(ngModel)]="nick" placeholder="Login">
        <br>
        <input type="password" [(ngModel)]="password" placeholder="Hasło">
        <br>
        <div class="login-link">
            <button (click)="login()">Zaloguj</button>
        </div>
        <div class="register-link">
            <p class="inline-element">Nie posiadasz konta?</p><a class="inline-element" [routerLink]="['/register']">Zarejestruj się</a>
        </div>
    </div>
    </div>
    <div class="login">
        <div *ngIf="showmessage">
            {{message}}!
    </div>
</div>