<div class="spare-parts-box">
    <h2>Kuchnia włoska</h2>
    <br>
    <div class="spare-parts">
        <div class="engine-parts">
            <img [routerLink]="['/shop/spare-parts/engine-parts']" src="../../../../assets/images/trattoria_bella_tavola.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/engine-parts']">Trattoria BellaTavola</a>
        </div>

        <div class="brake-pads">
            <img [routerLink]="['/shop/spare-parts/brake-pads']" src="../../../../assets/images/casa_dei_sapori.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/brake-pads']">Casa dei Sapori</a>
        </div>

        <div class="drive-system">
            <img [routerLink]="['/shop/spare-parts/drive-system']" src="../../../../assets/images/amore_ristorante.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/drive-system']">Amore Ristorante</a>
        </div>

        <div class="brake-system">
            <img [routerLink]="['/shop/spare-parts/brake-system']" src="../../../../assets/images/olive_garden_eatalia.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/brake-system']">Olive Garden Eatalia</a>
        </div>
        <div class="engine-parts">
            <img [routerLink]="['/shop/spare-parts/engine-parts']" src="../../../../assets/images/la_dolce_vita_bistro.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/engine-parts']">La Dolce Vita Bistro</a>
        </div>

        <div class="brake-pads">
            <img [routerLink]="['/shop/spare-parts/brake-pads']" src="../../../../assets/images/piazza_italia_trattoria.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/brake-pads']">Piazza Italia Trattoria</a>
        </div>

        <div class="drive-system">
            <img [routerLink]="['/shop/spare-parts/drive-system']" src="../../../../assets/images/nonna's_kitchen.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/drive-system']">Nonna's Kitchen</a>
        </div>

        <div class="brake-system">
            <img [routerLink]="['/shop/spare-parts/brake-system']" src="../../../../assets/images/roma_cucina_gustosa.jpg">
            <a class="text" [routerLink]="['/shop/spare-parts/brake-system']">Roma Cucina Gustosa</a>
        </div>
    <br>
</div>