<div class="home">
	<h1>Witaj w SwiftServe!</h1>
	<div class="home-box">
		<h2>Jak zamawiać jedzenie z łatwością</h2>
		<p>Ciesz się smakiem ulubionego jedzenia bez wychodzenia z domu. Dzięki SwiftServe zamówisz swoje ulubione dania w zaledwie kilka kliknięć. Oto, jak to zrobić:</p>
		<ol>
		  <li>Wybierz ulubione potrawy</li>
		  <p>Przeglądaj nasze bogate menu i wybierz swoje ulubione potrawy. Mamy dla Ciebie szeroki wybór dań, od pysznych pizz po świeże sałatki i smakowite desery.</p>
		  <li>Dodaj do koszyka</li>
		  <p>Gdy już wybierzesz swoje ulubione dania, dodaj je do koszyka. Możesz dowolnie zmieniać ilości i składniki, by dostosować zamówienie do swoich upodobań.</p>
		  <li>Wybierz dostawę i płatność</li>
		  <p>Wybierz preferowany sposób dostawy oraz opcję płatności. Mamy dla Ciebie wiele wygodnych metod, które sprawią, że zamówienie będzie jeszcze przyjemniejsze.</p>
		  <li>Podsumowanie zamówienia</li>
		  <p>Przed złożeniem zamówienia zobaczysz szczegółowe podsumowanie. Upewnij się, że wszystko jest tak, jak powinno, i dokończ proces składania zamówienia.</p>
		  <li>Ciesz się pysznym jedzeniem!</li>
		  <p>Po złożeniu zamówienia, nie pozostaje nic innego jak cieszyć się smakiem ulubionego jedzenia. Nasz szybki czas dostawy zagwarantuje, że Twoje zamówienie dotrze do Ciebie szybko i świeże.</p>
		</ol>
  
		<h2>Statystyki SwiftServe:</h2>
		<ul>
		  <li>Ponad 1000 zadowolonych klientów - Do tej pory obsłużyliśmy ponad tysiąc klientów, którzy cieszyli się naszymi pysznymi daniami.</li>
		  <li>Średni czas dostawy: 30 minut - Nasza priorytetowa dostawa zapewnia, że większość zamówień dostarczamy w ciągu 30 minut od złożenia.</li>
		  <li>Ponad 5000 zamówień zrealizowanych - W ciągu ostatniego roku zrealizowaliśmy ponad pięć tysięcy zamówień, co świadczy o zaufaniu naszych klientów.</li>
		</ul>
	</div>
</div>