<h2>Katalog kuchni</h2>

<br>
<div class="shop">

    <div class="card1">
        <div class="card-content">
            <h3 class="card-title">Kuchnia włoska</h3>
            <p class="card-body">
                Lasagne<br>
                Spaghetti Carbonara<br>
                Risotto<br>
                Tiramisu
            </p>
            <button class="button" [routerLink]="['/shop/spare-parts']"routerLinkActive="active">Zamów</button>
        </div>
    </div>

    <div class="card2">
        <div class="card-content">
            <h3 class="card-title">Kuchnia chińska</h3>
            <p class="card-body">
                Wan Tan<br>
                Kaczka Pekin<br>
                Kapusta Kimch<br>
                Krewetki w cieście
            </p>
            <button class="button" [routerLink]="['/shop/oils']"routerLinkActive="active">Zamów</button>
        </div>
    </div>

    <div class="card3">
        <div class="card-content">
            <h3 class="card-title">Kuchnia japońska</h3>
            <p class="card-body">
                Tempura<br>
                Ramen<br>
                Udon<br>
                Miso Soup
            </p>
            <button class="button" [routerLink]="['/shop/lighting']"routerLinkActive="active">Zamów</button>
        </div>
    </div>

    <div class="card4">
        <div class="card-content">
            <h3 class="card-title">Kuchnia meksykańska</h3>
            <p class="card-body">
                Guacamole<br>
                Enchiladas<br>
                Quesadillas<br>
                Nachos
            </p>
            <button class="button" [routerLink]="['/shop/equipment']"routerLinkActive="active">Zamów</button>
        </div>
    </div>

    <div class="card5">
        <div class="card-content">
            <h3 class="card-title">Kuchnia francuska</h3>
            <p class="card-body">
                Escargot<br>
                Ratatouille<br>
                Quiche Lorraine<br>
                Crème brûlée
            </p>
            <button class="button" [routerLink]="['/shop/tools']"routerLinkActive="active">Zamów</button>
        </div>
    </div>

    <div class="card6">
        <div class="card-content">
            <h3 class="card-title">Kuchnia indyjska</h3>
            <p class="card-body">
                Saag Paneer<br>
                Biryani<br>
                Naan<br>
                Samosa
            </p>
            <button class="button" [routerLink]="['/shop/body-parts']"routerLinkActive="active">Zamów</button>
        </div>
    </div>
    
    <div class="card7">
        <div class="card-content">
            <h3 class="card-title">Kuchnia grecka</h3>
            <p class="card-body">
                Gyros<br>
                Tzatziki<br>
                Spanakopita<br>
                Souvlaki
            </p>
            <button class="button" [routerLink]="['/shop/tires']"routerLinkActive="active">Zamów</button>
        </div>
    </div>

    <div class="card8">
        <div class="card-content">
            <h3 class="card-title">Kuchnia tajska</h3>
            <p class="card-body">
                Tom Kha Gai<br>
                Som Tam<br>
                Massaman Curry<br>
                Khao 
            </p>
            <button class="button" [routerLink]="['/shop/electronics']"routerLinkActive="active">Zamów</button>
        </div>
    </div>
</div>

<br>