<div class="motor-oils">
    <h2>Trattoria BellaTavola</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Nazwa</th>
                <!-- <th>Producent</th> -->
                <th>Cena</th>
                <th>Ilość</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let meal of meals">
                <td><img src='{{ meal.imagePath }}'></td>
                <td>{{meal.name}}</td>
                <!-- <td>{{meal.producent}}</td> -->
                <td>{{meal.price}} zł</td>
                <td>
                    <input type="number">
                </td>
                <td>
                    <button (click)="addButton(meal)">Dodaj</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>